*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body {
  font-family: Arial, sans-serif;
}
h1{
  color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: aliceblue;
}
.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
}