*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 16px 40px;
  background-color: aquamarine;
}
.nav2{
  display: flex;
  gap :30px;
}