*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body{
  height: 100%;
  width: 100%;
  background-color: #282c34;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* align-items: center; */
}
.card{
  background-color:#3b4f60;
  border-radius: 10px;
  width: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border: 1px solid #eee;
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.card button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: #144875;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid #282c34;
}
.card p{
  margin: 15px 0;
}