@import "tailwindcss";
h1{

    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: overline;
    font-weight: bold;
    white-space: nowrap;
    text-transform: capitalize;
}