*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
  width: 100%;
}
.card{
  background-color:rgb(20, 72, 117);
  border-radius: 10px;
  margin: 20px;
  padding: 10px;
}
.nav{
  background-color: rgb(50, 50, 50);
  color: white;
  padding: 15px;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}