.header {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
    padding: 10px 20px;
}
.btn{
  background-color: rgb(164, 155, 155);
  width: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
}
.logo{
  margin-right: auto;
  margin-left: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 24px;

}