*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}
body,html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

h1{
  text-align: center;
  margin-top: 20px;
}
button{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;  
  
}