*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.parent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  min-width: 100vh;
  width: 100%;
  background-color: rgb(56, 106, 106);
  padding: 30px;
}
.card{
  height: 330px;
  width: 280px;
  background-color: white;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card  .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -40px;
}
.top img{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid gray;
}
.top button{
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid gray;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: gray;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  color: #8b8b8b;
  font-weight: 400;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display: flex;
  gap :5px;
  margin-top: 10px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #e0e0e0;
  color: black;
  padding: 4px 8px;
  font-weight: 400;
  border-radius: 3px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1.5px solid rgb(149, 148, 148);
  padding-top: 15px;
}
.bottom button{
  padding: 5px 10px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}